	/* Panel - Icon */
	#panel {margin:0 0 0 -40px}
	#panel li {display:inline; float:left;margin: 0 0px 0 0;}
	.cols #panel{margin-right: 0px}
	.cols #panel li {margin: 0 0px 0 4px !important}
	#panel .last{position:absolute}
	#panel .icon {
		width: 73px;	
		background:#fff;}		
	#panel a{
		display:block;
		width: 73px;
		background: #F7F7F7;
		text-decoration:none}
	#panel a:hover{
		background: #eee;}
	#panel a:active{
		background: #ddd;}			
	#panel .icon div{display: block;height: 80px;}
	#panel .icon span{display: block; text-align:center; color:#666}
	#panel .konsumen div{background:url(../img/panel/konsumen.png) no-repeat center}
	#panel .trans div{background:url(../img/panel/trans.png) no-repeat center}
	#panel .harga div{background:url(../img/panel/harga.png) no-repeat center}
	#panel .calc div{background:url(../img/panel/calc.png) no-repeat center}
	#panel .laporan div{background:url(../img/panel/laporan.png) no-repeat center}
	#panel .master div{background:url(../img/panel/master.png) no-repeat center}